<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:justASamble="http://lipengcheng.club:8080/schema/user"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://lipengcheng.club:8080/schema/user http://lipengcheng.club:8080/schema/user.xsd
        ">
    <justASamble:user id="zhangsan" userName="张三" email="lipengcheng1995@gmail.com"/>

</beans>