<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:justASamble="https://lipengcheng1995.github.io/user"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        https://lipengcheng1995.github.io/user https://lipengcheng1995.github.io/user/user.xsd">
    <justASamble:user id="zhangsan" userName="张三" email="lipengcheng1995@gmail.com"/>

</beans>